.container {
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0ffd0;
}

.image {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.title {
    margin: 20px;
    text-align: center;
}

.description {
    text-align: justify;
}

.list {
padding: 0.5rem 2.5rem;
}

.button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #99f682;
    color: white;
    border-radius: 5px;
    border:#58bb48 solid 2px;
}